<%= will_paginate @exercise_pages %>

<table id="exercise-table" class="table table-striped table-bordered ">

<thead>
  <tr>
    <th>Pick</th>
    <th>Name</th>
    <th>Rating</th>
    <th>Sets</th>
    <th>Weight</th>
    <th>Reps</th>
    <th>Rest(Min)</th>
  </tr>
</thead>
  <%@exercise_pages.each do |exercise|%>
    <%status = @workout.edit_checked?(exercise)%>
  <tr>
    <td><%= check_box_tag "workout[exercise_ids][]", exercise.id, status  %></td>
    <td><%= exercise.name %></td>
    <td><%= exercise.rating %></td>
    <td><%= exercise.sets %></td>
    <td><%= exercise.weight%></td>
    <td><%= exercise.reps %></td>
    <td><%= exercise.rest_period_mins %></td>
  </tr>

  <%end%>

</table>
<%= will_paginate @exercise_pages %>
