<%=f.text_field :name, class: "workout_fields"%>
<%=f.text_field :description, class: "workout_fields"%>
<%=f.hidden_field :author_id, :value => current_user.id%>
<%= f.collection_check_boxes :muscle_group_ids, MuscleGroup.all, :id, :name, label: "Muscle Groups", class: "checkbox-inline"%>

<div class="container custom_container">
  <h2>Exercises </h2>&nbsp<%= link_to 'Create New Workout', new_user_workout_path(current_user) %>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">My Exercises</a></li>
  </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <table class="table table-striped table-bordered ">
            <%= page_entries_info @exercises %>
            <%= paginate @exercises %>
            <thead>
              <tr>
                <th>Pick</th>
                <th>Name</th>
                <th>Rating</th>
                <th>Sets</th>
                <th>Weight</th>
                <th>Reps</th>
                <th>Rest(Min)</th>
              </tr>
            </thead>
              <%@exercises.each do |exercise|%>

              <tr>
                <td><%= check_box_tag "exercise_ids[]", exercise.id %></td>
                <td><%= exercise.name %></td>
                <td><%= exercise.rating %></td>
                <td><%= exercise.sets %></td>
                <td><%= exercise.weight%></td>
                <td><%= exercise.reps %></td>
                <td><%= exercise.rest_period_mins %></td>
              </tr>

              <%end%>

          </table>


      <!-- <%= f.collection_check_boxes :exercise_ids, @exercises, :id, :name, label: "Choose from Existing Exercises" %> -->
    </div>
    <%=f.fields_for :exercise_attributes, Exercise.new do |exercise_attribute|%>
    <%=exercise_attribute.text_field :name, label: "Create New Exercise"%>

  </div>
</div>

<%end%>
<%=f.submit %>
