<%=f.text_field :name, class: "workout_fields"%>
<%=f.text_field :description, class: "workout_fields"%>
<%=f.hidden_field :author_id, :value => current_user.id%>
<%= f.collection_check_boxes :muscle_group_ids, MuscleGroup.all, :id, :name, label: "#{t "workouts.form.muscle_group"}", class: "checkbox-inline"%>

<div class="container custom_container">
  <h2><%= t "workouts.form.exercises"%></h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home"><%= t "workouts.form.my_exercises"%></a></li>
  </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div id="exercises">
            <%= render "exercises" %>
          </div>
        </div>
      </div>

    <h3><%= t "workouts.form.create"%></h3>
    <div class="add-exercise-fields">
      <%exercise_holder = @workout.exercises%>
      <%@workout.exercises = []%>
      <%= f.fields_for :exercises  do |exercise_form|%>
      <%= render partial: "add_exercise_fields", locals: {exercise_form: exercise_form}%>
      <%@workout.exercises = exercise_holder%>
    </div>
  </div>
</div>

<%end%>
<p><%= f.link_to_add "#{t "workouts.form.add"}", :exercises %></p>

<%=f.submit %>
