<%=f.text_field :name, class: "workout_fields"%>
<%=f.text_field :description, class: "workout_fields"%>
<%=f.hidden_field :author_id, :value => current_user.id%>
<%= f.collection_check_boxes :muscle_group_ids, MuscleGroup.all, :id, :name, label: "Muscle Groups", class: "checkbox-inline"%>

<div class="container custom_container">
  <h2>Exercises </h2>&nbsp<%= link_to 'Create New Workout', new_user_workout_path(current_user) %>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">My Exercises</a></li>
  </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div id="exercises">
            <%= render "exercises" %>
          </div>
        </div>
      </div>

    <h3>Create New Exercise:</h3>
    <div class="add-exercise-fields">
      <%exercise_holder = @workout.exercises%>
      <%@workout.exercises = []%>
      <%= f.fields_for :exercises  do |exercise_form|%>
      <%= render partial: "add_exercise_fields", locals: {exercise_form: exercise_form}%>
      <%@workout.exercises = exercise_holder%>
    </div>
  </div>
</div>

<%end%>
<p><%= f.link_to_add '"Add a Exercise"', :exercises %></p>

<%=f.submit %>
