<div class="container">
  <h2>Workouts </h2>&nbsp<%= link_to 'Create New Workout', new_user_workout_path(current_user) %>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">My Workouts</a></li>

    <%MuscleGroup.all.each_with_index do |mg, i|%>
      <li><a data-toggle="tab" href="#menu<%=i+1%>"><%=mg.name%></a></li>
    <%end%>
  </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <%=render partial: "workouts/workout", collection: @workouts.all%>
      </div>
      <%MuscleGroup.all.each_with_index do |mg, i|%>
      <div id="menu<%=i+1%>" class="tab-pane fade">
        <%=render partial: "workouts/workout", collection: mg.workouts%>
      </div>
      <%end%>
    </div>

</div>
