<h3>Workout</h3>
<%=render partial: "workout", locals: {workout:@workout}%>
 <%= link_to "Edit Workout", edit_user_workout_path(current_user, @workout) %>
 <br>
 <br>

<h4>Workout Exercises</h4>
<%=render partial: "exercises/exercise", collection: @workout.exercises%>

  <h3>Leave Comment</h3>
  "Signed in as: "<%=current_user.username%>
<%=form_for @comment do |f|%>
  <%=f.text_area :content%>
  <%=f.hidden_field :user_id, value: current_user.id%>
  <%=f.hidden_field :workout_id, value: @workout.id%></br>
  <%=f.submit 'Submit Comment'%>
  <%end%>
<br>
<h4>Current Comments on this workout</h4>
  <%if @workout.comments.empty?%>
    <h5>There aren't any comments on this workout!</h5>
  <%else%>

  <%@workout.comments.each do |comment|%>
    by- <%=comment.user.username%> <br>
    <%=comment.content%><br>
    <%end%>
  <%end%>
