<div class="row">
  <div class="col-md-12">
    <h5 class="inline-header page-header">Your Recent Runs </h5><%= link_to 'See all', user_runs_path(current_user), id:"see-all-ran" %>
    <div id="last-ran">
      <table id="recent-runs" class="table table-responsive">
      <thead>
          <th>Exercise</th><th>Sets</th><th>Duration</th>
      </thead>

      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h4 class="page-header">Recently Added Exercises</h4>
    <%=render partial: "exercises/exercise", collection: @exercises%>
  <%= link_to 'See All', exercises_path%>
  </div>


  <div class="col-md-6">
    <h4 class="page-header">Recently Added Workouts </h4>
    <%=render partial: "workouts/workout", collection: @workouts%>
    <%= link_to 'See All', workouts_path%>
  </div>
</div>
