<div class="row">
  <div class="col-md-12">
    <h5 class="inline-header page-header"><%= t "welcome.runs.title"%></h5>
    <%= link_to '', user_runs_path(current_user), id:"see-all-ran" %>
    <div id="last-ran">
      <table id="recent-runs" class="table table-responsive">
      <thead>
          <th> Name </th><th> Muscles </th><th><%= t "welcome.runs.date"%></th><th><%= t "welcome.runs.duration"%></th>
          <th>Delete</th>
      </thead>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h4 class="page-header"><%= t "welcome.recent_exercises"%></h4>
    <%=render partial: "exercises/exercise", collection: @exercises%>
    <%= link_to "#{t "welcome.see_all"}", exercises_path%>
  </div>


  <div class="col-md-6">
    <h4 class="page-header">Recently Added Workouts </h4>
    <%=render partial: "workouts/workout", collection: @workouts%>
    <%= link_to "#{t "welcome.see_all"}", workouts_path%>
  </div>
</div>
