<div id="rest-timer-all">
  <table>
    <tr>
      <th class="input-header"><h4>Rest Period</h4></th>
    </tr>
      <td class="big-column"><p class="glyphicon glyphicon-minus btn btn-default" id="shorten-rest">15</p>
      <time id="rest-timer" >00:00</time>
      <p id="add-15-secs" class="glyphicon glyphicon-plus btn btn-default">15</p></td>
      <tr>
        <td id="exercise-rest-target">Target Rest <p id="exercise-rest"><%=@exercise.rest_period%></p> secs</td>
      </tr>

  </table>
</div>

<div class="container-fluid">
  <div class="row">

    <table id="new-exercise-run-table" class=" table col-md-6">
       <caption>New Exercise</caption>
      <tr>
        <th>Name</th><th>Total Target Sets</th><th>Target Rest(secs)</th>
      </tr>
      <tr>
        <td><%=text_field_tag "name", nil,  id: "new-exercise-name", class: "new-exercise-run"%></td>
        <td><%=text_field_tag "sets", nil,  id: "new-exercise-sets", class: "new-exercise-run"%></td>
        <td><%=text_field_tag 'Target Rest', nil,  id: "new-exercise-rest", class: "new-exercise-run"%></td>
      </tr>
      <tr>
        <% TargetMuscle.all.each do |tm| %>
          <td>
            <%= check_box_tag 'tm_ids[]', tm.id, nil,  class: 'new-ex-tms'%>
            <%= h tm.name -%>
          </td>
        <% end %>
      </tr>

    </table>
</div>

<div class="row">
  <div id="cancel-new-exercise">
    <button type="button" class="btn btn-danger">Cancel</button>
  </div>
  <div id="new-exercise-button">
    <button type="button" class="btn btn-primary" >Add and Start new Exercise</button>
  </div>
  <span id="start-new-exercise-button">
    <button type="button" class="btn btn-success" value="Start Exercise">StartExercise</button>
  </span>
</div>



</div>
