<h4 class="inline-header">Exercise</h4>

<h5 class="inline-header">|<%=@exercise.name%>|</h5>

<p class="inline-header">Set-</p><div class="inline-header" id="current-set">1</div>
<div id="run-main" >
<div id="drill-fields" class="drill-fields-pause">

<%=nested_form_for [current_user, @exercise, @run, @drill] do |f|%>

<table>
  <th>#</th>
  <th class="input-header"><h4>Weight</h4></th>
  <th class="input-header"><h4>Reps</h4></th>
  <th></th>
  <tr>
    <td><h5>Enter Actual</h5></td>
  <td><%=f.text_field :weight, id:"weight-input", class: "run-inputs"%></td>
  <td><%=f.text_field :reps, id: "rep-input", class: "run-inputs"%></td>
  <td><%=f.submit 'End Set', id:"end-set", class: "btn btn-primary"%><p id="end-set-instructions">*start rest period</p></td>
</tr>

  <tr>
    <td>Target</td>
    <td><%=@exercise.weight%></td>
    <td><%=@exercise.reps%></td>
    <td></td>
  </tr>

</table>

  <%end%>
</div>
</div>
