<div class="row workout-run">
  <span id="workout-header"> <%=@workout.name%> </span>
  <%=text_field_tag :name,nil, id: "workout-run-input" %>
  <span id="edit-workout-name" class="glyphicon glyphicon-pencil"></span>
  <span id="save-workout-name" class="glyphicon glyphicon-ok"></span>

<%=render partial: "set"%>
<%=render partial: "rest_timer"%>
<%=render partial: "exercise_status", locals: {drills: @run.drills}%>

</div>
