<div class="row text-center">
  <p id="workout-header"><%=@workout.name%></p>
  <%= form_for @workout do |f| %>
    <%=f.text_field :name, id: "workout-run-input", class: "text-center" %>
  <%end%>

<span class="edit-buttons">
  <div id="edit-workout-name" class="glyphicon glyphicon-pencil"></div>
  <span id="save-workout-name" class="glyphicon glyphicon-ok"></span>
</span>

<%=render partial: "set"%>
<%=render partial: "rest_timer"%>
<%=render partial: "exercise_status"%>

</div>
