
  <table class="table table-responsive">
  <thead>
      <th> Name </th><th> Muscles </th><th><%= t "welcome.runs.date"%></th><th><%= t "welcome.runs.duration"%></th>
      <th>Delete</th>
  </thead>
    <%@runs.each do |run|%>
      <tr>
        <td><%= link_to run.oneoff_name, run %></td>
        <td><%=run.target_muscles.map(&:name).join(", ") %></td>
        <td><%= run.run_date  %></td>
        <td><%= run.to_time  %></td>
      </tr>
    <%end%>
  </table>
