<div class="row exercise-run page-header ">

  <div class="col-md-4">
    <button type="button" id="start-run" class="btn btn-success inline-header">Start Now</button>
    </div>

    <div class="col-md-4 exercise-timer">
      <time class="inline-header" id="duration-timer" >00:00</time>
      <p id="total-time-desc">Exercise Duration</p>
    </div>

    <div class="col-md-offset-10">
      <button class="btn btn-danger" href="<%= user_runs_path(current_user)%>" id="end-run" data-href= "<%= user_exercise_runs_path(current_user, @exercise)%>">Finish</button>

    </div>
  </div>


  <% if @workout %>
    <%=render partial: "workout_run" %>
  <%else%>
    <%=render partial: "set"%>
    <%=render partial: "rest_timer"%>
    <%=render partial: "exercise_status", locals: { drills: @run.drills }%>
  <% end %>
