<table class="table table-striped">

<tr >
  <%if current_user%>
  <%= link_to 'Run', new_user_exercise_run_path(current_user, exercise), class: " btn btn-success run-exercise" %>
  <%end%>
    <%= exercise.name %> ~ added by: <%= exercise.author.username %> || Rating-<%=exercise.rating%>/10 ||(<%= link_to "View", exercise %>)


  </tr>
  <tr>
    <td>Sets</td> <td>Reps</td> <td>Rest Period</td> <td>Weight</td>
  </tr>
  <tr>
    <td><%=exercise.sets%></td><td><%=exercise.reps%></td><td><%=exercise.rest_period%></td><td><%=exercise.percentage_to_max%> of 1 rep max</td>
  </tr>
</table>
