<%=f.text_field :name%>
<%=f.text_field :description, class: "table-inputs"%>
<%=f.text_field :equipment_needed, class: "table-inputs"%>
<div class="single-ex-form">
  <%=f.text_field :reps, class: "table-inputs"%>
  <%=f.text_field :weight, class: "table-inputs"%>
  <%=f.text_field :sets, class: "table-inputs"%>
  <%=f.text_field :rest_period, label:"#{t "exercises.table.rest"}", class: "table-inputs"%>
</div>

<%= f.collection_check_boxes :target_muscle_ids, TargetMuscle.all, :id, :name, label: "#{t "exercises.table.target_muscles"}"%>
