
<div class="container">
  <h2><%= t "exercises.index.title"%> </h2>&nbsp<%= link_to "#{t "exercises.index.create"}", new_user_exercise_path(current_user) %>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home"><%= t "exercises.index.my_exercises"%></a></li>

    <%TargetMuscle.all.each_with_index do |tm, i|%>
      <li><a data-toggle="tab" href="#menu<%=i+1%>"><%=tm.name%></a></li>
    <%end%>
  </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <%=render partial: "exercises/exercise", collection: @exercises.all%>
      </div>
      <%TargetMuscle.all.each_with_index do |tm, i|%>
      <div id="menu<%=i+1%>" class="tab-pane fade">
        <%=render partial: "exercises/exercise", collection: tm.exercises%>
      </div>
      <%end%>
    </div>

</div>
