
<div class="container">
  <h2>Exercises </h2>&nbsp<%= link_to 'Create New Exercise', new_user_exercise_path(current_user) %>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">My Exercises</a></li>

    <%TargetMuscle.all.each_with_index do |tm, i|%>
      <li><a data-toggle="tab" href="#menu<%=i+1%>"><%=tm.name%></a></li>
    <%end%>
  </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <%=render partial: "exercises/exercise", collection: @exercises.all%>
      </div>
      <%TargetMuscle.all.each_with_index do |tm, i|%>
      <div id="menu<%=i+1%>" class="tab-pane fade">
        <%=render partial: "exercises/exercise", collection: tm.exercises%>
      </div>
      <%end%>
    </div>

</div>
